body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Hero section */
header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style-type: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero-section {
  padding: 0 10rem;
  margin-bottom: 5rem;
  background-color: #1F2937;
}

.hero-section-intro {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 5rem;
}

.hero-section-intro-content {
  max-width: 500px;
}

.hero-section-intro-img img {
  width: 100%;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  display: flex;
  align-self: center;
}

.hero-section-intro-content-heading {
  font-size: 48px;
  color: #F9FAF8;
}

.hero-section-intro-content-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-section-intro-content-button {
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}


/* illustration section */

.illustration-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10rem;
  margin-bottom: 5rem;
}

.illustration-grid-imageGrid-container img {
  width: 100%;
  border: 5px solid blue;
}

.illustration-grid-heading h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.illustration-grid-imageGrid-container {
  width: 100px;
}

.illustration-grid-imageGrid-container p {
  text-align: center;
}

.illustration-grid-imageGrid {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  margin-bottom: 5rem;
}