html {
  margin: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  overflow: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Hero section */
header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style-type: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero-section {
  padding: 0 10rem;
  background-color: #1F2937;
}

.hero-section-intro {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 5rem;
}

.hero-section-intro-content {
  max-width: 500px;
}

.hero-section-intro-img img {
  width: 100%;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  display: flex;
  align-self: center;
}

.hero-section-intro-content-heading {
  font-size: 48px;
  color: #F9FAF8;
}

.hero-section-intro-content-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-section-intro-content-button {
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}


/* illustration section */

.illustration-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10rem;
}

.illustration-grid-imageGrid-container img {
  width: 100%;
  border: 5px solid blue;
}

.illustration-grid-heading h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.illustration-grid-imageGrid-container {
  width: 100px;
}

.illustration-grid-imageGrid-container p {
  text-align: center;
}

.illustration-grid-imageGrid {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  margin-bottom: 5rem;
}


/* Block quote */

.block-quote {
  padding: 0 10rem;
  background-color: #E5E7EB;
}

.block-quote figure {
  display: flex;
  flex-direction: column;
}

.block-quote blockquote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  margin-bottom: 0;
}

.block-quote figcaption {
  display: flex;
  align-self: flex-end;
  margin-right: 40px;
}

/* CTA */

.CTA {
  padding: 5rem 10rem;
}

.CTA-container {
  background-color: #3882F6;
  border-radius: 8px;
  padding: 1rem 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.CTA-content h3 {
  color: white;
  font-size: 24px;
  margin: 0;
}

.CTA-content p {
  color: #E5E7EB;
  margin: 0;
}

.CTA-container button {
  border-color: white;
  background-color: #3882F6;
  color: white;
  height: 2rem;
  border-radius: 8px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

/* Footer */

footer {
  background-color: #1F2937;
  color: white;
  text-align: center;
}

footer p {
  margin: 2rem;
}